<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main>
        <h3>Ofrecemos Intrumentos</h3>
        <div class=" main1">
            <div class="imagenCuerdas"><img src="img/cuerdas.jpg" class="iCuerdas" alt="Cuerdas"></div>
            <div class="imagenIdiofono"><img  src="img/xilofono.jpg" class="iIdiofono" alt="Idiofono"></div>
            <div class="imagenPercusion"><img  src="img/bateria.jpg" class="iPercusion" alt="Percusion"></div>
            <div class="imagenElectrico"><img src="img/electric-guitar.jpg" class="iElectrico" alt="Electricos"></div>
            <div class="imagenViento"><img  src="img/trompeta.jpg" alt="Viento" class="iViento" ></div>
            <div class="imagenVientoTra"><img  src="img/trompeta.jpg" alt="VientoT" class="iVientoTransparente" ></div>
        </div>
            
        <section>
            <h3>Productos en Oferta</h3>
            <div class="productosMain">
                <% producto.forEach(i => { %>
                    <article>
                        <div class="division"><img class="imagenArticulo" src=<%= i.foto%> alt=<%= i.nombre %>></div>
                        <div class="informacion">
                            <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                            <div class="precioOferta">
                                <p class="precio"><%= i.precio %></p>
                                <p class="oferta"><%= i.oferta %></p>
                                <p class="articulo"><%= i.nombre %></p>
                                <div class="botonD"><button class="boton">Comprar</button></div>
                            </div>
                            
                        </div>
                    </article> 
                <% }); %>
                

                <!-- <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/acordeon.png" alt="Acordeon"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$300</p>
                            <p class="oferta">10% off</p>
                            <p class="articulo">Acordeón</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_bateria2.png" alt="Batería"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$200</p>
                            <p class="oferta">10% off</p>
                            <p class="articulo">Batería</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_guitarra1.png" alt="Guitarra clásica"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$100</p>
                            <p class="oferta">10% off</p>
                            <p class="articulo">Guitarra</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_trombon.png" alt="Trombon"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Trombón</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_violin.png" alt="Violín"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Violín</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/platillos.png" alt="Platillos"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Platillosn</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/trompeta.jpg" alt="Trompeta"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Trompeta</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/bateria_main.jpg" alt="Batería"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Batería Eléctrica</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article> -->
            </div>
        </section>

    </main>

    <%- include("./partials/footer") %>
</body>

</html>