<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main>
        <h3>Ofrecemos Intrumentos</h3>
        <div class=" main1">
            <div class="imagenCuerdas"><img src="img/cuerdas.jpg" class="iCuerdas" alt="Cuerdas"></div>
            <div class="imagenIdiofono"><img  src="img/xilofono.jpg" class="iIdiofono" alt="Idiofono"></div>
            <div class="imagenPercusion"><img  src="img/bateria.jpg" class="iPercusion" alt="Percusion"></div>
            <div class="imagenElectrico"><img src="img/electric-guitar.jpg" class="iElectrico" alt="Electricos"></div>
            <div class="imagenViento"><img  src="img/trompeta.jpg" alt="Viento" class="iViento" ></div>
            <div class="imagenVientoTra"><img  src="img/trompeta.jpg" alt="VientoT" class="iVientoTransparente" ></div>
        </div>
            
        <section>
            <h3>Productos en Oferta</h3>
            <div class="productosMain">
                <% producto.forEach(i => { %>
                      
                    <section class="articleBox article">
                        <a href="/productDetail/<%= i.id%>">
                            
                                <div class="division"><img class="imagenArticulo" src="/img/main/<%= i.image%>" alt=<%= i.name %>></div>
                                <div class="informacion">
                                    <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                                    <div class="precioOferta">
                                        <p class="precio">$ <%= i.price %></p>
                                        <p class="oferta">-<%= i.discount %>%</p>
                                        <p class="articulo"><%= i.name %></p>
                                        <div class="botonD"><button class="boton">Comprar</button></div>
                                    </div>

                                </div>
                           
                        </a>
                    </section>
                
                <% }); %>
                
            </div>
        </section>

    </main>

    <%- include("./partials/footer") %>
</body>

</html>