<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main class="form"> 

        <h2>Login</h2>

        <form action="/usuarios/login" method="POST">
          <div class="control-form">
            <label for="email"></label>
            <input class="campo-texto" type="email" required placeholder="email" name="email" id="email" value= "<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && errors.email) { %>
              <p class="error">
                <%= errors.email.msg%>
              </p>
              <% } %>
          </div>
        
          <div class="control-form">
            <label for="password"> </label>
            <input class="campo-texto" type="password" required placeholder="Contraseña" name="password" id="password" />
            <% if (locals.errors && errors.password) { %>
              <p class="text-danger-login">
                <%= errors.password.msg%>
              </p>
              <% } %>
          </div>
          <div class="boton-ingresar">
            <button class="button-login" type="submit"> Ingresar </button>
          </div>
          <div class="olvido-contrasenia">
            <a href="#">
              <h4>Olvido su contraseña?</h4>
            </a>
        
          </div>
        </form>
      </main>

      <%- include("./partials/footer") %>
      <script src="/js/login.js"></script>
  </body>

</html>

   