<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main class="container">

        <section class="principal">
            
            <div class="productosMain">
                <article>
                    <div class="division"><img class="imagenArticulo" src="/img/main/<%= producto.image%>" alt="<%= producto.name%>"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$<%= producto.price%></p>
                            <p class="oferta"><%= producto.discount%>% off</p>
                            <p class="articulo"><%= producto.name%></p>
                            <div><button class="boton"><a href="/productos/carrito/">Comprar</a></button></div>
                            <div><button class="boton"><a href="/productos/productEdit/<%= producto.id%>">Editar</a></button></div>
                            
                            <form action="/productos/productDelete/<%= producto.id %>?_method=DELETE" method="POST">
                                <div><button class="boton2" type="submit">Eliminar</button></div>
                            </form>
                            
                        </div>
                    </div>
                </article>
               
            </div>
        </section>

       
        </section>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>