<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main>   
        <section>
            <h3>Productos</h3>
            <div class="productosMain">
                <% producto.forEach(i => { %>
                      
                    <section class="articleBox article">
                        <a href="/productos/detail/<%= i.id%>">
                    
                            <div class="division"><img class="imagenArticulo" src="/img/main/<%= i.image%>" alt=<%= i.name %>></div>
                            <div class="informacion">
                                <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                                <div class="precioOferta">
                                    <p class="precio">$ <%= i.price %></p>
                                    <p class="oferta">-<%= i.discount %>%</p>
                                    <p class="articulo"><%= i.name %></p>
                                    <p class="botonD">Click para mas información</p>
                                </div>

                            </div>
                           
                        </a>
                    </section>
                
                <% }); %>
                
            </div>
        </section>

    </main>

    <%- include("./partials/footer") %>
</body>

</html>