<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main  class="form"> 

        <h2>Crear un Producto</h2>

        <form action="/productos/create" method="POST" enctype="multipart/form-data">
            <!-- Nombre -->
            <div class="labInp" >
              <label class="lab" for="name">Producto</label>
              <input class="inp <% locals.errors && errors.name ? "bordeFail" :null %> " type="text" placeholder="Guitarra" name="name"  id="name" >
              <% if (locals.errors && errors.name) { %>
                <p class="errorCreate"><%= errors.name.msg%></p>          
              <% } %>
            </div>
            <!-- Precio -->
            <div class="labInp">
              <label class="lab" for="price">Precio</label>
              <input class="inp" type="number" placeholder="($)100" name="price"  id="price" />
              <% if (locals.errors && errors.price) { %>
                <p class="errorCreate"><%= errors.price.msg%></p>          
              <% } %>
            </div>

            <!-- Descuento -->
            <div class="labInp">
              <label class="lab" for="discount">Descuento</label>
              <input class="inp" type="number" placeholder="10(%)" name="discount"  id="discount" />
              <% if (locals.errors && errors.discount) { %>
                <p class="errorCreate"><%= errors.discount.msg%></p>          
              <% } %>
            </div>

            <!-- Tipo -->
            <div class="labInp">
              <label class="lab" for="type" class="">Tipo</label>
              <select name="type" id="type" class="inp">
                <option value="cuerdas">Cuerdas</option>
                <option value="viento">Viento</option>
                <option value="percusion">Percusión</option>
                <option value="electrico">Eléctrico</option>
              </select>
              <% if (locals.errors && errors.type) { %>
                <p class="errorCreate"><%= errors.type.msg%></p>          
              <% } %>
            </div>  

            <!-- Categoría -->
            <div class="labInp">
              <label class="lab" for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="inp">
                <option value="">Elegí</option>
                <option value="in-sale">En oferta</option>
                <option value="visited">Últimos agregados</option>
              </select>
              <% if (locals.errors && errors.category) { %>
                <p class="errorCreate"><%= errors.category.msg%></p>          
              <% } %>
            </div>      

            <!-- Descripción -->
            <div class="labInp">
              <label class="lab" for="description">Descripción</label>
              <input class="inp" type="textarea" maxlenght="100" placeholder="Nuevo" name="description"  id="description">
              <% if (locals.errors && errors.description) { %>
                <p class="errorCreate"><%= errors.description.msg%></p>          
              <% } %>
            </div>

            <!-- Imagen -->
            <div class="labInp">
              <label class="lab" for="image">Imagen</label>
              <input class="inp" type="file" name="image"  id="image">
            </div>

            <!-- Botón -->
            <div class="boton-ingresar" >
               <button class="button-login" type="submit"> Guardar </button>  
            </div>
            
          </form>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>

   