<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main class="container">

        <section>
            
            <div class="contenedorDetail">
                <div class="imagenDetail"><img src="/img/main/<%= producto.image%>" alt="<%= producto.name%>"></div>
                <div class="detallesDetail">
                    <p class="articuloName"><%= producto.name%></p>
                    <p class="precio">$<%= producto.price%></p>
                    <p class="oferta"><%= producto.discount%>% off</p>
                    <p class="articulo">Descripción:  <%= producto.description%></p>
                    <p class="articulo">Instrumento tipo:  <%= producto.type%></p>
                    <div class="botones">
                        <div class="botonCompra"><button class="BD"><a href="/productos/carrito/">Comprar</a></button></div>
                        <div class="botonEditar"><button class="BD"><a href="/productos/edit/<%= producto.id%>">Editar</a></button></div>
                    </div>
                    <form action="/productos/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <div><button class="botonEliminar" type="submit">Eliminar</button></div>
                    </form>
                </div>
            </div>

        </section>

    </main>

    <%- include("./partials/footer") %>
</body>

</html>