<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main class="container">

        <section class="principal">

  <!--           <form action="/" class="formulario-instrumentos" onchange="javascript:tipo()">
                <label for="instrumento">Elige un tipo:</label>
                
                <select id="instrumento" name="instrumento">
                <option value="" disabled selected>Elige un Tipo</option>
                <option value="cuerda">Cuerda</option>
                <option value="percución">Percución</option>
                <option value="aire">Aire</option>
                <option value="empty">Empty</option>
                </select>
                <input type="submit" value="buscar">
            </form> -->
            
            <div class="productosMain">
                <article>
                    <div class="division"><img class="imagenArticulo" src="/img/main/<%= producto.image%>" alt="<%= producto.name%>"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$<%= producto.price%></p>
                            <p class="oferta"><%= producto.discount%>% off</p>
                            <p class="articulo"><%= producto.name%></p>
                            <div><button class="boton">Comprar</button></div>
                        </div>
                    </div>
                </article>
               
            </div>
        </section>

       
        </section>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>