<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main  class="form"> 

        <h2>Crear un Producto</h2>
        <div class="errores">
          <ul>
            
          </ul>
        </div>
        <form action="/productos/create" method="POST" enctype="multipart/form-data">
            <!-- Nombre -->
            <div class="labInp" >
              <label class="lab" for="name">Producto</label>
              <input class="inp <% locals.errors && errors.name ? "bordeFail" :null %> " type="text" placeholder="Guitarra" value="<%= locals.oldData ? oldData.name : null %>"  name="name"  id="name" >
              <% if (locals.errors && errors.name) { %>
                <p class="errorCreate"><%= errors.name.msg%></p>          
              <% } %>
            </div>
            <!-- Precio -->
            <div class="labInp">
              <label class="lab" for="price">Precio</label>
              <input class="inp" type="number" placeholder="($)100" value="<%= locals.oldData ? oldData.price : null %>" name="price"  id="price" />
              <% if (locals.errors && errors.price) { %>
                <p class="errorCreate"><%= errors.price.msg%></p>          
              <% } %>
            </div>

            <!-- Descuento -->
            <div class="labInp">
              <label class="lab" for="discount">Descuento</label>
              <input class="inp" type="number" placeholder="10(%)" value="<%= locals.oldData ? oldData.discount : null %>" name="discount"  id="discount" />
              <% if (locals.errors && errors.discount) { %>
                <p class="errorCreate"><%= errors.discount.msg%></p>          
              <% } %>
            </div>

            <!-- Tipo -->
            <div class="labInp">
              <label class="lab" for="type" class="">Tipo</label>
              <select name="type" id="type" class="inp">
                <option value="cuerdas" <%= locals.oldData && oldData.type== "cuerdas" ? "selected": null %>>Cuerdas</option>
                <option value="viento" <%= locals.oldData && oldData.type== "viento" ? "selected": null %>>Viento</option>
                <option value="percusion" <%= locals.oldData && oldData.type== "percusion" ? "selected": null %>>Percusión</option>
                <option value="electrico" <%= locals.oldData && oldData.type== "electrico" ? "selected": null %>>Eléctrico</option>
              </select>
              <% if (locals.errors && errors.type) { %>
                <p class="errorCreate"><%= errors.type.msg%></p>          
              <% } %>
            </div>  

            <!-- Categoría -->
            <div class="labInp">
              <label class="lab" for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="inp">
                <option value="">Elegí</option>
                <option value="1" <%= locals.oldData && oldData.category== "1" ? "selected": null %>>En oferta</option>
                <option value="2" <%= locals.oldData && oldData.category== "2" ? "selected": null %>>Últimos agregados</option>
              </select>
              <% if (locals.errors && errors.category) { %>
                <p class="errorCreate"><%= errors.category.msg%></p>          
              <% } %>
            </div>      

            <!-- Descripción -->
            <div class="labInp">
              <label class="lab" for="description">Descripción</label>
              <input class="inp" type="textarea" maxlenght="100" placeholder="Nuevo" name="description" value="<%= locals.oldData ? oldData.description : null %>" id="description">
              <% if (locals.errors && errors.description) { %>
                <p class="errorCreate"><%= errors.description.msg%></p>          
              <% } %>
            </div>

            <!-- Imagen -->
            <div class="labInp">
              <label class="lab" for="image">Imagen</label>
              <input class="inp" type="file" name="image"  id="image">
              <% if (locals.errors && errors.image) { %>
                <p class="errorCreate"><%= errors.image.msg%></p>          
              <% } %>

            </div>

            <!-- Botón -->
            <div class="boton-ingresar" >
               <button class="button-login" type="submit"> Guardar </button>  
            </div>
            
          </form>
    </main>

    <script src="/js/productCreate.js"></script>
    
    <%- include("./partials/footer") %>
</body>

</html>

   