<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

       
      <main class="container"></main>
          <section class="usuario">
              <div class="informacionUsuario">
                  <div class="imagenUser"><img class="imagenUser2" src="/img/avatars/<%= user.avatar%>" alt="<%= user.firstName%>"></div>
                  <div class="detailUser">
                      <p class="dato"><%= user.name%></p>
                      <p class="dato"><%= user.email%></p>
                      <p class="dato"><%= user.address%></p>
                      
                   <!--    <div>
                        <%= /* JSON.stringify(user) */ %>
                      </div> -->

                  </div>
                  
              </div>
              <% if (user.email=="admin@clavedesol.com") { %>
                <div class="botonCompra"><button class="user-button"><a href="http://localhost:3000/">APP REACT</a></button></div> 
              <% } %>

              <div class="botonCompra"><button class="user-button"><a href="/usuarios/editProfile/<%= user.id%>">Editar</a></button></div>
              
          </section>
      </main>
  </body>
</html>