<html>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <!-- 
        **link fuentes Google*** -->
        <link rel="preconnect" href="https://fonts.googleapis.com/" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />

        <!-- **link iconos Awesome** -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/51cbd52192.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e0f5081788.js" crossorigin="anonymous"></script>
        <title>Perfil de Usuario</title>
    </head>
    <body>

        <%- include("./partials/header") %>
      <main class="container"></main>
          <section class="usuario">
              <div class="informacionUsuario">
                  <div class="imagenUser"><img class="imagenUser2" src="/img/avatars/<%= user.avatar%>" alt="<%= user.firstName%>"></div>
                  <div class="detailUser">
                      <p class="dato"><%= user.name%></p>
                      <p class="dato"><%= user.email%></p>
                      <p class="dato"><%= user.address%></p>
                      
                   <!--    <div>
                        <%= /* JSON.stringify(user) */ %>
                      </div> -->

                  </div>
              </div>
              <div class="botonCompra"><button class="user-button"><a href="/usuarios/editProfile/<%= user.id%>">Editar</a></button></div>
              
          </section>
      </main>
  </body>
</html>