<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main>
        
        <form class="form-register" action="/usuarios/register" method="POST" enctype="multipart/form-data">
            <h2>Registro de Usuario</h2>
            <div>
                <input class="nombreYapellido" type="text" name="name" placeholder="Nombre">  
                <% if (locals.errors && errors.name) { %>
                    <p class="errorCreate"><%= errors.name.msg%></p>          
                <% } %> 
            </div>
            <div>
                <input class="nombreYapellido" type="text" name="lastname" placeholder="Apellido">  
                <% if (locals.errors && errors.lastname) { %>
                    <p class="errorCreate"><%= errors.lastname.msg%></p>          
                <% } %>  
            </div>

            <div>
                <input class="nombre-de-usuario" type="text" name="nickname" id="nombre-usuario" placeholder="Nombre de usuario">
                <% if (locals.errors && errors.nickname) { %>
                    <p class="errorCreate"><%= errors.nickname.msg%></p>          
                <% } %> 
            </div>

            <div>
                <label for="email"></label>
                 <input class="email" type="email"  placeholder="email" name="email"  id="email">
                 <% if (locals.errors && locals.errors.email) { %>
                    <p class="errorCreate">
                      <%= errors.email.msg%>
                    </p>
                <% } %>
            </div>


            <div class="label-fecha-nacimiento">
                <label for="birthdate"><strong >Fecha de nacimiento</strong></label>
                <% if (locals.errors && errors.birthday) { %>
                    <p class="errorCreate"><%= errors.birthday.msg%></p>          
                <% } %> 
            </div>
            <div>
                <input class="input-fecha-nacimiento border-radius-boxes" type="date" name="birthday" id="birthdate">
            </div>

            <div >
                <input class="domicilio" type="text" name="address" id="domicilio" placeholder="Domicilio">
                <% if (locals.errors && errors.address) { %>
                    <p class="errorCreate"><%= errors.address.msg%></p>          
                <% } %> 
            </div>

            <div class="label-perfil-usuario">
                <label  for="perfil-usuario"><strong >Perfil de usuario</strong></label>
            </div>
                
            <div>    
                <div class="input1-perfil-usuario">
                    <label for="comprador">Comprador</label>
                    <input type="radio" value="1" name="userProfile_id" id="comprador">
                </div>

                <div class="input2-perfil-usuario">
                    <label for="vendedor">Vendedor</label>
                    <input type="radio" value="2" name="userProfile_id" id="vendedor">       
                </div>
                
            </div>

            
            <div  class="label-foto-usuario">
                <label for="fotoUsuario"><strong >Cargar foto de usuario</strong></label>
            </div>

            <div class="div-foto-usuario">    
                <input class="foto-usuario" type="file" name="avatar" accept=".jpg" id="fotoUsuario">
            </div>
            <div>
                <input class="contraseña" type="password" name="password" id="contraseña" placeholder="Elegí tu contraseña">
                <% if (locals.errors && errors.password) { %>
                    <p class="errorCreate"><%= errors.password.msg%></p>          
                <% } %> 
            </div>
            

            <div>
                <input class="contraseña" type="password" name="password2" id="contraseña" placeholder="Confirmar contraseña">
                <% if (locals.errors && errors.password2) { %>
                    <p class="errorCreate"><%= errors.password2.msg%></p>          
                <% } %> 
            </div>
            <!-- <% if (locals.errors && locals.errors.password) { %>
                <p class="emailError">
                  <%= errors.password.msg%>
                </p>
                <% } %> -->



            <div class="divBotonEnviar">
                <button class="botonEnviar">Enviar</button>
            </div>

    
        </form>
        
    </main>

    <%- include("./partials/footer") %>
</body>

</html>
    